<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis necessitatibus facilis unde harum rerum laboriosam eveniet est enim ipsum. Aliquam minima id assumenda aspernatur unde est voluptatum ipsam impedit quam!
</p>
