<div class="card animated fadeIn">
  <img class="card-img-top" src="{{heroe.img}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{heroe.nombre}}</h5>
    <p class="card-text">{{heroe.bio}}</p>
    <p class="card-text"><small class="text-muted">{{heroe.aparicion}}</small></p>
    
    <button type="button" (click)="getHeroe()" class="btn btn-outline-primary btn-block">Ver mas ...</button>
    <!-- <a [routerLink]="['/heroe', i]" class="btn btn-outline-primary btn-block">Ver mas ...</a> -->
  </div>
</div>