<h1 class="animated fadeIn fast">Heroes <small>Marvel y DC</small></h1>
<hr>

<div class="card-columns">

  <app-heroe-tarjeta (seleccionarHeroe)="getHeroe( $event )" [heroe]="heroe" [index]="i" *ngFor="let heroe of heroes; let i = index"></app-heroe-tarjeta>

</div>