<h1 class="animated fadeIn fast">Buscando: <small>{{ key }}</small></h1>
<hr>

<div *ngIf="heroes.length == 0;then content else other_content"></div>    
<ng-template #content>
  <div class="row animated fadeIn fast">
    <div class="col-md-12">
      <div class="alert alert-info" role="alert">
        No existe resultados con el termino: {{ key }}
      </div>
    </div>
  </div>
</ng-template>

<ng-template #other_content>
  <div class="card-columns">
    <app-heroe-tarjeta [heroe]="heroe" [index]="heroe.idx" *ngFor="let heroe of heroes; let i = index"></app-heroe-tarjeta>
  </div>
</ng-template>
