<h1 class="animated fadeIn fast">{{ heroe.nombre | uppercase }} <small>({{heroe.aparicion | date:'y'}})</small></h1>
<hr>

<div class="row">

  <div class="col-md-4">
    <img [src]="heroe.img" [alt]="heroe.nombre" class="img-fluid animated fadeIn">
    <br><br>
    <a [routerLink]="['/heroes']" class="btn btn-outline-danger btn-block animated fadeIn fast">Regresar</a>
  </div>
  <div class="col-md-8">
    <h3 class="animated fadeIn fast">{{heroe.nombre}}</h3>
    <hr>
    <p class="animated fadeIn fast">{{heroe.bio}}</p>

    <hr>
    <div *ngIf="heroe.casa == 'Marvel';then content else other_content"></div>    
    <ng-template #content>
        <img src="assets/logo/marvel-logo.png" alt="logoMarvel" style="width: 20%;" class="animated fadeIn">
    </ng-template>

    <ng-template #other_content>
        <img src="assets/logo/logo-dc.png" alt="logoDC" style="width: 15%;" class="animated fadeIn">
    </ng-template>
  
  </div>
</div>